html {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif !important;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
main .btn,
main button,
main input[type=submit] {
    background-color: #B90B0B;
    border: none;
    border-radius: 0;
    min-width: 120px;
}
main .btn:hover,
main button:hover,
main input[type=submit]:hover {
    background-color: #000000;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #000000;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

h1, h2, h3, h4, nav{
    font-family: Red Hat Display Bold, sans-serif !important;
    font-weight:bold;
}

footer {
    background-color: #000000;
    color: #ffffff;
    font-family: Red Hat Display Bold, sans-serif;
}

/*
h1, h2 {
    border-bottom: 4px solid #B90B0B;
}
*/


.ta-list-item {
    margin-top: 5px;
    padding: 10px;
    background-color: #EFEFEF;
    display: flex;
    justify-content: space-between;
    align-items:center;
}